body {
    background-image: url("http://getwallpapers.com/wallpaper/full/1/1/3/626964.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]) :hover {
    color: #fff;
    background-color: #4aaaa5;
}

.navbar-brand {
    color: #fff;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 35px;
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 10%;
}

.navbar-brand:hover {
    color:  #666;
}

.nav-item {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
    border-color: #4aaaa5;
}

.navbar-nav {
    margin: 0% 0% 0% 75%;
}

a {
    color: #666;
} 

.navbar-nav :hover {
    background-color: #4aaaa5;
    color: #fff;
    text-decoration: none;
}

.container {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    background-color: #CDCDCD;

}

img {
    margin: 5% 0% 5% 0%;
}

.card-img-overlay {
    color: #9DA6B9;
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 2.5% 0% 5% 0%;
    bottom: 10%;
}

h2 {
    color: #4aaaa5;
}

.fixed-bottom, .bg-dark {
    background-color: #666;
    border-top-color: #4aaaa5;
}

.card-img-top {
    height: 200px;
}

.label {
    color: black
}

.label:hover {
    color: #4aaaa5;
    text-decoration: underline; 
    cursor: pointer;
}
