html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("http://getwallpapers.com/wallpaper/full/1/1/3/626964.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.nav-item:not([href]):not([tabindex]), .nav-item:not([href]):not([tabindex]) :hover {
    color: #fff;
    background-color: #4aaaa5;
}

.navbar-brand {
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 35px;
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 10%;
}

.navbar-brand :hover {
    background-color: #fff;
    color: #4aaaa5;
}

.nav-item {
    color: #fff;
}

.navbar-toggler {
    color: #666;
    border-color: #4aaaa5;
}

.navbar-nav {
    margin: 0% 0% 0% 75%;
}

a {
    color: #666;
} 

.navbar-nav :hover {
    background-color: #4aaaa5;
    color: #fff;
    text-decoration: none;
}

.container {
    margin-top: 10%;
    width: 100%;
    background-color: #CDCDCD;

}

h2 {
    color: #4aaaa5;
}

.footer {
    background-color: #666;
    border-top-color: #4aaaa5;
}

.contactEmail, .linkedIn, .github {
    text-decoration: underline; 
    cursor: pointer;
    color: black;
}

.contactEmail:hover, .linkedIn:hover, .github:hover{
    text-decoration: underline; 
    cursor: pointer;
    color: #4aaaa5;
}
